:plain
  <div class="row">
    <form class="form-horizontal  ng-dirty ng-valid ng-valid-required" role="form" data-ng-submit="create()">
      <div class="col-md-8">
        <h2><span class="label label-default rounded">1</span> Create an issue </h2>
        <div class="">
          <label mean-token="'create-title'" class="control-label">Title</label>
          <div class="">
            <input type="text" class="form-control ng-dirty ng-valid ng-valid-required" data-ng-model="title" id="title" placeholder="Title" required="">
          </div>
        </div>
        <!--add phrase-->
        <div class="">
          <label mean-token="'edit-content'" for="content" class="control-label">Phrase</label>
          <div class="">
            <input type="text" class="form-control ng-dirty ng-valid ng-valid-required" data-ng-model="phrase" id="phrase" placeholder="Phrase" required="">
          </div>
        </div>


        <h2><span class="label label-default rounded">2</span> Add motions to your issue </h2>
  
        <div ng-hide="!selectedMotions || selectedMotions.length" class="alert alert-info ng-hide">
          You don't have any motions!  Find some using the search bar on the right.
        </div>

        <!--MOTIONS-->

        <label>For this Issue</label>
        <ul ng-model="selectedMotions" class="selectedMotions ng-pristine ng-valid">
          <li class="list-group-item ng-scope ng-binding">
            <span ng-click="unselectMotion(motion)" class="glyphicon glyphicon-minus-sign actionable"></span> 
            This is the text of a motion for which a Yes vote is in favour of the Issue. It's long here, so we can see how wrapping works.
            <div class="btn-group pull-right">
              <label class="btn btn-default btn-xs ng-pristine ng-valid" ng-model="motion.weight" btn-radio="2" ng-click="test(motion)">Strongly for</label>
              <label class="btn btn-default btn-xs ng-pristine ng-valid" ng-model="motion.weight" btn-radio="1" ng-click="test(motion)">Moderately for</label>
            </div>
          </li>
        </ul>

        <br>

        <label>Against this Issue</label>
        <ul ng-model="selectedMotions" class="selectedMotions ng-pristine ng-valid">
            <!-- ngRepeat: motion in selectedMotions | filter:{type:'against'} -->
        </ul>


        <button class="btn btn-default" type="submit">Submit</button>
      </div>
    </form>
  </div>

  <aside class="col-md-4 inverse motionSearch">  
    <!--SEARCH MOTIONS-->
    <h2>Available motions</h2>
    Find motions related to your issue <br><br>

    <form class="navbar-form ng-valid ng-dirty" role="search">

      <div class="input-group">
        <input type="text" class="form-control ng-valid ng-dirty" placeholder="Search for Motions" ng-model="searchTerm">
        <span class="input-group-btn">
          <button ng-click="getMotions()" class="btn btn-default" type="submit"><span class="glyphicon  glyphicon-search"></span> Search
          </button>
        </span>
      </div>

  
      <br>
      <!--Motion List-->
      <div class="listCont">
        <ul id="motionList" class="list-unstyled">

          <li id="motion-li-1" class="list-group-item ng-scope ng-binding selected" ng-class="{selected: motion.type != undefined}">
            <span id="motion-1">Motion description 1</span><br>
            <button type="button" ng-click="addMotion('for',motion-1)" class="btn btn-primary">For</button>
            <button type="button" ng-click="addMotion('against',motion-1)" class="btn btn-danger">Against</button>
          </li>

          <li id="motion-li-2" class="list-group-item ng-scope ng-binding selected" ng-class="{selected: motion.type != undefined}">
            <span id="motion-2">Motion description 2</span><br>
            <button type="button" ng-click="addMotion('for',motion-1)" class="btn btn-primary">For</button>
            <button type="button" ng-click="addMotion('against',motion-1)" class="btn btn-danger">Against</button>
          </li>

          <li id="motion-li-3" class="list-group-item ng-scope ng-binding selected" ng-class="{selected: motion.type != undefined}">
            <span id="motion-3">Motion description 3</span><br>
            <button type="button" ng-click="addMotion('for',motion-1)" class="btn btn-primary">For</button>
            <button type="button" ng-click="addMotion('against',motion-1)" class="btn btn-danger">Against</button>
          </li>

          <li id="motion-li-4" class="list-group-item ng-scope ng-binding selected" ng-class="{selected: motion.type != undefined}">
            <span id="motion-4">Motion description 4</span><br>
            <button type="button" ng-click="addMotion('for',motion-1)" class="btn btn-primary">For</button>
            <button type="button" ng-click="addMotion('against',motion-1)" class="btn btn-danger">Against</button>
          </li>

          <li id="motion-li-5" class="list-group-item ng-scope ng-binding selected" ng-class="{selected: motion.type != undefined}">
            <span id="motion-5">Motion description 5</span><br>
            <button type="button" ng-click="addMotion('for',motion-1)" class="btn btn-primary">For</button>
            <button type="button" ng-click="addMotion('against',motion-1)" class="btn btn-danger">Against</button>
          </li>

          <li id="motion-li-6" class="list-group-item ng-scope ng-binding selected" ng-class="{selected: motion.type != undefined}">
            <span id="motion-6">Motion description 6</span><br>
            <button type="button" ng-click="addMotion('for',motion-1)" class="btn btn-primary">For</button>
            <button type="button" ng-click="addMotion('against',motion-1)" class="btn btn-danger">Against</button>
          </li>

        </ul>
      </div>
    </form>
  </aside>
