:plain
  <div class="row">
    <form class="form-horizontal" role="form" data-ng-submit="create()">
      <div class="col-md-8">
        <h2><span class="label label-default rounded">1</span> Create an issue </h2>

        <div class="">
          <label class="control-label">Short Title</label>
          <div class="">
            <input type="text" class="form-control" id="title" placeholder="e.g. Climate Change" required="">
          </div>
        </div>

        <div class="">
          <label class="control-label">Introductory Sentence</label>
          <div class="">
            <input type="text" class="form-control" id="title" placeholder="e.g. Climate Change" required="">
          </div>
        </div>

        <div class="">
          <label class="control-label">Stance Description</label>
          <div class="">
            <i>Person X voted strongly for/against…</i> <input type="text" class="form-control" id="title" placeholder="e.g. measures to prevent climate change" required="">
          </div>
        </div>

        <div class="">
          <label for="content" class="control-label">Categories</label>
          <div class="">
            <input type="text" class="form-control" id="phrase" placeholder="e.g. environment, spending" required="">
          </div>
        </div>

        <div class="">
          <label for="content" class="control-label">Image</label>
          <div class="">
            <input type="text" class="form-control" id="phrase" placeholder="(must be suitably licensed)" required="">
          </div>
        </div>


        <h2><span class="label label-default rounded">2</span> Add motions to your issue </h2>
  
        <!-- TODO hide this when empty -->
        <div id="no-motions-yet" class="alert alert-info">
          You haven't added any motions yet. Find some using the search bar on the right.
        </div>

        <!--MOTIONS-->

        <div id="issue-motions">
          <label>For this Issue</label>
          <ul id="selected-for" class="selectedMotions">
          </ul>

          <br>

          <label>Against this Issue</label>
          <ul id="selected-against" class="selectedMotions">
          </ul>
        </div>

        <h2><span class="label label-default rounded">3</span> Save </h2>
        <button class="btn btn-default pull-right" type="submit">Save</button>
      </div>
    </form>
  </div>

  <aside class="col-md-4 inverse motionSearch">  
    <!--SEARCH MOTIONS-->
    <h2>Available motions</h2>
    Find motions related to your issue <br><br>

    <form id="motion-search-form" class="navbar-form" role="search">

      <div class="input-group">
        <input type="text" name="s" class="form-control" placeholder="e.g. Hospital">
        <span class="input-group-btn">
          <button ng-click="getMotions()" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Search
          </button>
        </span>
      </div>

  
      <br>
      <!--Motion List-->
      <div class="listCont">
        <ul id="motionList" class="list-unstyled">
          <!-- dynamically loaded motions go here -->
        </ul>
      </div>
    </form>
  </aside>
