
#home
  %h1 What is this?
  %p 
    :markdown
      This is a simple demo site for **Stancer** — a tool built on top 
      of **VoteIt** to allow you to display how politicians and 
      political groups voted on Issues like 
      [Reducing fox hunting](/issue/PW-1050.html)
      [reducing spending on welfare benefits](/issue/PW-6670.html)
      [allowing same-sex marriage](/issue/PW-6686.html), or 
      [introducing a bankers' bonus tax](/issue/PW-6685.html)

  %p 
    :markdown
      Although based on real data from the UK, it's only a demo, so
      don't rely on it for anything!

  %p 
    :markdown
      The tools used to build this are designed to make it easy
      to build similar sites all around the world. So if you'd like to see
      something like this for *your* country, contact me:

  %ul
    %li Email: tony@discomposer.com
    %li Twitter: <a href="https://twitter.com/tmtm">@tmtm</a>
    %li Github: <a href="https://github.com/tmtmtmtm">tmtmtmtm</a>

