
#issue
  %h1 On #{@issue['html']}...

  %ul 
    - @stances.sort_by { |s| s['weight'] }.reverse.each do |s| 
      %li <a href="/party/#{s['party']['id']}">#{s['party']['name']}</a> voted <span class="stance">#{s['stance_text']}</span> 
      

